div {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}